body {
    background-color: magenta;
    color: darkslategray;
    text-align: center;
    object-position: center;
}

button {
    background-color: deepskyblue;
    color: black;
}

a {
    color: rgb(9, 7, 116);
}

a:hover {
    color: rgb(227, 251, 7);
}